<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=LDNVMSVR-SQL;Initial Catalog=FidessaImport;Persist Security Info=True;Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="csvDirectory" value="\\mukl-archive\FidReps"/>
    <add key="importedDirectory" value="\\mukl-archive\FidReps\imported"/>
    <add key="startDate" value="2018-01-01"/>
  </appSettings>
</configuration>
